USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[M_EMPLOYEE]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_EMPLOYEE](
	[EMPLOYEE_ID] [nvarchar](50) NOT NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[DEPARTMENT_ID] [nvarchar](50) NULL,
	[EMPLOYEE_STATUS] [nvarchar](50) NULL,
	[EMPLOYEE_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[EMPLOYEE_COMMISSION_PRODUCT_VAL] [decimal](18, 5) NULL,
	[EMPLOYEE_COMMISSION_SERVICE_VAL] [decimal](18, 5) NULL,
	[EMPLOYEE_COMMISSION_PRODUCT_TYPE] [nvarchar](50) NULL,
	[EMPLOYEE_COMMISSION_SERVICE_TYPE] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_M_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_18099105] ON [dbo].[M_EMPLOYEE] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_M_EMPLOYEE_M_DEPARTMENT] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[M_DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[M_EMPLOYEE] CHECK CONSTRAINT [FK_M_EMPLOYEE_M_DEPARTMENT]
GO
ALTER TABLE [dbo].[M_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_M_EMPLOYEE_REF_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[REF_PERSON] ([PERSON_ID])
GO
ALTER TABLE [dbo].[M_EMPLOYEE] CHECK CONSTRAINT [FK_M_EMPLOYEE_REF_PERSON]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [MSmerge_df_rowguid_56B953DA4EDC409EB02194913F2A9A43]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
