USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[T_STOCK_CARD]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STOCK_CARD](
	[STOCK_CARD_ID] [numeric](18, 0) IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](50) NOT NULL,
	[TRANS_DET_ID] [nvarchar](50) NULL,
	[STOCK_CARD_DATE] [datetime] NULL,
	[STOCK_CARD_STATUS] [bit] NULL,
	[STOCK_CARD_QTY] [numeric](18, 5) NULL,
	[STOCK_CARD_SALDO] [numeric](18, 5) NULL,
	[STOCK_CARD_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_T_STOCK_CARD_1] PRIMARY KEY CLUSTERED 
(
	[STOCK_CARD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[T_STOCK_CARD] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_STOCK_CARD]  WITH NOCHECK ADD  CONSTRAINT [FK_T_STOCK_CARD_M_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[M_ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[T_STOCK_CARD] CHECK CONSTRAINT [FK_T_STOCK_CARD_M_ITEM]
GO
ALTER TABLE [dbo].[T_STOCK_CARD]  WITH NOCHECK ADD  CONSTRAINT [FK_T_STOCK_CARD_M_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[M_WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[T_STOCK_CARD] CHECK CONSTRAINT [FK_T_STOCK_CARD_M_WAREHOUSE]
GO
ALTER TABLE [dbo].[T_STOCK_CARD]  WITH NOCHECK ADD  CONSTRAINT [FK_T_STOCK_CARD_T_TRANS_DET] FOREIGN KEY([TRANS_DET_ID])
REFERENCES [dbo].[T_TRANS_DET] ([TRANS_DET_ID])
GO
ALTER TABLE [dbo].[T_STOCK_CARD] CHECK CONSTRAINT [FK_T_STOCK_CARD_T_TRANS_DET]
GO
ALTER TABLE [dbo].[T_STOCK_CARD]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0CC64BC2_05C1_4E17_8433_671847044E7F] CHECK NOT FOR REPLICATION (([STOCK_CARD_ID]>(136) AND [STOCK_CARD_ID]<=(10136) OR [STOCK_CARD_ID]>(10136) AND [STOCK_CARD_ID]<=(20136)))
GO
ALTER TABLE [dbo].[T_STOCK_CARD] CHECK CONSTRAINT [repl_identity_range_0CC64BC2_05C1_4E17_8433_671847044E7F]
GO
ALTER TABLE [dbo].[T_STOCK_CARD] ADD  CONSTRAINT [MSmerge_df_rowguid_52097CF0307B49B3A5D5DF9C1D790FCD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
