USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[T_TRANS_DET]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TRANS_DET](
	[TRANS_DET_ID] [nvarchar](50) NOT NULL,
	[TRANS_ID] [nvarchar](50) NOT NULL,
	[ITEM_ID] [nvarchar](50) NULL,
	[ITEM_UOM_ID] [nvarchar](50) NULL,
	[TRANS_DET_NO] [int] NULL,
	[TRANS_DET_QTY] [numeric](18, 5) NULL,
	[TRANS_DET_PRICE] [numeric](18, 5) NULL,
	[TRANS_DET_DISC] [numeric](18, 5) NULL,
	[TRANS_DET_TOTAL] [numeric](18, 5) NULL,
	[TRANS_DET_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_T_TRANS_DET_1] PRIMARY KEY CLUSTERED 
(
	[TRANS_DET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1714105147] ON [dbo].[T_TRANS_DET] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_TRANS_DET]  WITH NOCHECK ADD  CONSTRAINT [FK_T_TRANS_DET_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_TRANS_DET] CHECK CONSTRAINT [FK_T_TRANS_DET_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[T_TRANS_DET]  WITH NOCHECK ADD  CONSTRAINT [FK_T_TRANS_DET_M_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[M_ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[T_TRANS_DET] CHECK CONSTRAINT [FK_T_TRANS_DET_M_ITEM]
GO
ALTER TABLE [dbo].[T_TRANS_DET]  WITH NOCHECK ADD  CONSTRAINT [FK_T_TRANS_DET_M_ITEM_UOM] FOREIGN KEY([ITEM_UOM_ID])
REFERENCES [dbo].[M_ITEM_UOM] ([ITEM_UOM_ID])
GO
ALTER TABLE [dbo].[T_TRANS_DET] CHECK CONSTRAINT [FK_T_TRANS_DET_M_ITEM_UOM]
GO
ALTER TABLE [dbo].[T_TRANS_DET]  WITH NOCHECK ADD  CONSTRAINT [FK_T_TRANS_DET_T_TRANS] FOREIGN KEY([TRANS_ID])
REFERENCES [dbo].[T_TRANS] ([TRANS_ID])
GO
ALTER TABLE [dbo].[T_TRANS_DET] CHECK CONSTRAINT [FK_T_TRANS_DET_T_TRANS]
GO
ALTER TABLE [dbo].[T_TRANS_DET] ADD  CONSTRAINT [MSmerge_df_rowguid_1E374BE70DB345919D26CE15C2F93C51]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
