USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[T_STOCK_ITEM]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STOCK_ITEM](
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](50) NOT NULL,
	[ITEM_STOCK_MAX] [numeric](18, 5) NULL,
	[ITEM_STOCK_MIN] [numeric](18, 5) NULL,
	[ITEM_STOCK] [numeric](18, 5) NULL,
	[ITEM_STOCK_RACK] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[STOCK_ITEM_ID] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_T_STOCK_ITEM] PRIMARY KEY CLUSTERED 
(
	[STOCK_ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1314103722] ON [dbo].[T_STOCK_ITEM] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_STOCK_ITEM]  WITH NOCHECK ADD  CONSTRAINT [FK_T_STOCK_ITEM_M_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[M_ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[T_STOCK_ITEM] CHECK CONSTRAINT [FK_T_STOCK_ITEM_M_ITEM]
GO
ALTER TABLE [dbo].[T_STOCK_ITEM]  WITH NOCHECK ADD  CONSTRAINT [FK_T_STOCK_ITEM_M_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[M_WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[T_STOCK_ITEM] CHECK CONSTRAINT [FK_T_STOCK_ITEM_M_WAREHOUSE]
GO
ALTER TABLE [dbo].[T_STOCK_ITEM] ADD  CONSTRAINT [MSmerge_df_rowguid_DAB622E6348749A3B38B5EAEA6C16477]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
