USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[M_ITEM_UOM]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ITEM_UOM](
	[ITEM_UOM_ID] [nvarchar](50) NOT NULL,
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[ITEM_UOM_NAME] [nvarchar](50) NULL,
	[ITEM_UOM_REF_ID] [nvarchar](50) NULL,
	[ITEM_UOM_CONVERTER_VALUE] [numeric](18, 5) NULL,
	[ITEM_UOM_SALE_PRICE] [numeric](18, 5) NULL,
	[ITEM_UOM_PURCHASE_PRICE] [numeric](18, 5) NULL,
	[ITEM_UOM_HPP_PRICE] [numeric](18, 5) NULL,
	[ITEM_UOM_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_M_ITEM_UOM_1] PRIMARY KEY CLUSTERED 
(
	[ITEM_UOM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_101575400] ON [dbo].[M_ITEM_UOM] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_ITEM_UOM]  WITH NOCHECK ADD  CONSTRAINT [FK_M_ITEM_UOM_M_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[M_ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[M_ITEM_UOM] CHECK CONSTRAINT [FK_M_ITEM_UOM_M_ITEM]
GO
ALTER TABLE [dbo].[M_ITEM_UOM]  WITH NOCHECK ADD  CONSTRAINT [FK_M_ITEM_UOM_M_ITEM_UOM] FOREIGN KEY([ITEM_UOM_REF_ID])
REFERENCES [dbo].[M_ITEM_UOM] ([ITEM_UOM_ID])
GO
ALTER TABLE [dbo].[M_ITEM_UOM] CHECK CONSTRAINT [FK_M_ITEM_UOM_M_ITEM_UOM]
GO
ALTER TABLE [dbo].[M_ITEM_UOM] ADD  CONSTRAINT [MSmerge_df_rowguid_DE4100DF61F34C789267B129AA893784]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
