USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[M_SUPPLIER]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_SUPPLIER](
	[SUPPLIER_ID] [nvarchar](50) NOT NULL,
	[SUPPLIER_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[SUPPLIER_STATUS] [nvarchar](50) NULL,
	[SUPPLIER_MAX_DEBT] [numeric](18, 5) NULL,
	[SUPPLIER_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_M_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_2037582297] ON [dbo].[M_SUPPLIER] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_SUPPLIER]  WITH NOCHECK ADD  CONSTRAINT [FK_M_SUPPLIER_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[M_SUPPLIER] CHECK CONSTRAINT [FK_M_SUPPLIER_REF_ADDRESS]
GO
ALTER TABLE [dbo].[M_SUPPLIER] ADD  CONSTRAINT [MSmerge_df_rowguid_AA9E39D4A76B4E6EBE43BD3F9C3D7A22]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
