USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[REF_ADDRESS]    Script Date: 10/19/2013 02:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_ADDRESS](
	[ADDRESS_ID] [nvarchar](50) NOT NULL,
	[ADDRESS_LINE1] [nvarchar](50) NULL,
	[ADDRESS_LINE2] [nvarchar](50) NULL,
	[ADDRESS_LINE3] [nvarchar](50) NULL,
	[ADDRESS_PHONE] [nvarchar](50) NULL,
	[ADDRESS_FAX] [nvarchar](50) NULL,
	[ADDRESS_CITY] [nvarchar](50) NULL,
	[ADDRESS_CONTACT] [nvarchar](50) NULL,
	[ADDRESS_CONTACT_MOBILE] [nvarchar](50) NULL,
	[ADDRESS_EMAIL] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_M_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1173579219] ON [dbo].[REF_ADDRESS] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REF_ADDRESS] ADD  CONSTRAINT [MSmerge_df_rowguid_002ABBD299D9405E80EF9B7A7B18169D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
