USE [DB_IM_JSM]
GO
/****** Object:  Table [dbo].[M_WAREHOUSE]    Script Date: 10/19/2013 02:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_WAREHOUSE](
	[WAREHOUSE_ID] [nvarchar](50) NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS_ID] [nvarchar](50) NULL,
	[WAREHOUSE_TYPE] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[WAREHOUSE_STATUS] [nvarchar](50) NULL,
	[WAREHOUSE_IS_DEFAULT] [bit] NULL,
	[WAREHOUSE_PHOTO] [image] NULL,
	[WAREHOUSE_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_M_WAREHOUSE_1] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_770101784] ON [dbo].[M_WAREHOUSE] 
(
	[rowguid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_WAREHOUSE]  WITH NOCHECK ADD  CONSTRAINT [FK_M_WAREHOUSE_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[M_WAREHOUSE] CHECK CONSTRAINT [FK_M_WAREHOUSE_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[M_WAREHOUSE]  WITH NOCHECK ADD  CONSTRAINT [FK_M_WAREHOUSE_REF_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[REF_ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[M_WAREHOUSE] CHECK CONSTRAINT [FK_M_WAREHOUSE_REF_ADDRESS]
GO
ALTER TABLE [dbo].[M_WAREHOUSE] ADD  CONSTRAINT [MSmerge_df_rowguid_76190FD55D9D48BC819E72AFAED6C6D3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
